# QGIS and Guacamole user credentials
USER_NAME=qgisuser
USER_PASSWORD=<password>

# MySQL credentials
MYSQL_ROOT_PASSWORD=rootpass
MYSQL_USER=guacdbuser
MYSQL_PASSWORD=<password>

# Guacamole admin user credentials 
GUACADMIN_USER=admin
GUACADMIN_PASS=<password>